<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="includes/UITemplate :: cabezera">
<meta charset="ISO-8859-1">
<title>Listar Pasajes</title>

</head>
<body>
	
<div th:insert="includes/UITemplate :: menu"></div>	
	
	<div class="container">
		<div class="container">
		
			<h3 class="text-center mt-4">LISTA DE PASAJES</h3>
			
				<table class="table table-striped table-bordered mt-5" id="tableBus">
							  <thead>
							   <tr>
					                <th>Codigo</th>
					                <th>Cliente</th>
					                <th>Placa Bus</th>
					                <th>Destino</th>
					                <th></th>
					                <th></th>
					            </tr>
							  </thead>
							  <tbody>
								<tr >
							      <td ></td>
							      <td ></td>
							      <td ></td>
							      <td ></td>
							      <td><a class="btn btn-info btn-editar" data-toggle="modal" data-target=""><i class="far fa-edit"></i></a></td>
							      <td><a class="btn btn-danger btn-eliminar"><i class="far fa-trash-alt"></i></a></td>
							    </tr>  
							  </tbody>
				</table>
			</div>
						
						
						
						
						
						
						
			
		
	
	</div>
	
	<div th:insert="includes/UITemplate :: pie"></div>	
	
	<script th:inline="javascript"th:if="${MENSAJE!=null}" >
		//Recuperar atributo mensaje
		let msg=/*[[${MENSAJE}]]*/
		toastr.success(msg, toastr.options = {
			"timeOut": "2000",
			"positionClass " : " toast-top-right ",
		});
		
	</script>
		
	<script>
		$("#btn-limpiar").on("click",function(){ 
     	$("#idVender").reset(); 
		});
	</script>
	
	<script>
		$('#tableBus').DataTable();
		$(function() {
			$('#usr1').datepicker({
				'format': 'yyyy-mm-dd',
				'autoclose': true
			});
	
		});
		$('#usr1').on('changeDate show', function(e) {
		    $('#idRegistra').bootstrapValidator('revalidateField', $('#usr1'));
		});


	</script>
	
	<script type="text/javascript">    
	    $(document).ready(function(){     
	
	        $('#idRegistra').bootstrapValidator({     
	        	feedbackIcons: {
	                valid: 'glyphicon glyphicon-ok',
	                invalid: 'glyphicon glyphicon-remove',
	                validating: 'glyphicon glyphicon-refresh'
	            },
	        	 fields:{
	        		 
					 
					 Cliente:{
						 selector:'#idCliente',
						 validators:{
							 notEmpty:{
								 message:'Ingrese cliente'
							 }
						 }
					 },
					 
					  Placa:{
						 selector:'#idPlaca',
						 validators:{
							 notEmpty:{
								 message:'Ingrese placa'
							 },
	                        regexp: {    
	                            regexp: /^[A-Z]{3}-[0-9]{3}$/,    
	                            message: 'el formato es letras con numeros'    
	                        }, 
						 }
					 },
					 
					 Destino:{
						 selector:'#idDestino',
						 validators:{
							 notEmpty:{
								 message:'Ingrese placa'
							 }
						 }
					 }
  
	                
	        	 }
	        })					
	    });    
	</script>
	
</body>
</html>